<template  >
    <div class="header-wrap">
        <div class="left">
            集群工作站
        </div>
        <div class="right">
            <img class="userimg" src="@/assets/header/avator.png" />
            <a-dropdown class="dropdown">
                <div class="user-select">
                    <div class="username">小明</div>
                    <div class="userinfo">应急管理资料</div>
                </div>
                <template #overlay>
                    <a-menu>
                        <a-menu-item class="dropdown-item">
                            <span>退出</span>
                        </a-menu-item>
                    </a-menu>
                </template>
            </a-dropdown>
        </div>
    </div>
</template>
<script setup>

</script>
<style lang="scss" scoped>
.header-wrap {
    padding: 10px 20px;
    // border: 1px solid red;
    background-image: url('@/assets/header/topbg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;

    .left {
        font-size: 56px;
        color: #476AAC;
        display: flex;
        align-items: center;
        font-family: 'SansCN-Bold';
        background: linear-gradient(359.1724518338484deg, #2B87FF 0%, #3464FE 100%), linear-gradient(0deg, #476AAC 0%, #203764 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .right {
        display: flex;
        align-items: center;

        .userimg {
            width: 82px;
            height: 82px;
            margin-right: 23px;

        }

        .user-select {
            height: 100%;
            // border: 1px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .username {
                font-size: 32px;
                color: #000000;
                font-weight: bold;
            }

            .userinfo {
                font-size: 24px;
                color: #7A91BA;
                margin-top: 14px;
            }

        }

    }

}

.dropdown-item {
    display: flex;
    align-items: center;

    .dropdown-img {
        margin-right: 4px;
        width: 18px;
        height: 18px;
    }
}
</style>