<template>
    <div class="meet">
        <div class="top-nav">
            <div class="nav-box" v-for="item in navList" @click="operation(item)">
                <div class="nav-item" :style="{ background: item.name == '预约会议' ? '#FFEEDE' : '#E6EDFF' }">
                    <img :src="item.icon" class="img">
                </div>
                <div class="nav-name">
                    {{ item.name }}
                </div>
            </div>
        </div>
        <div class="bottom">
            <none-card />
            <!-- <meet-record v-for="item in 3" /> -->
        </div>

    </div>
</template>
<script setup lang="ts">
import { ref } from 'vue'
import videoicon from '@/assets/meet/videoicon.png'
import addmeet from '@/assets/meet/addmeet.png'
import appointmeet from '@/assets/meet/appointmeet.png'
import NoneCard from './component/NoneCard.vue'
import MeetRecord from './component/MeetRecord.vue'
import { useRouter } from 'vue-router'
const router = useRouter()
const navList = ref([
    {
        name: '发起会议',
        icon: videoicon,
        path: '/launchmeet'
    },
    {
        name: '加入会议',
        icon: addmeet
    },
    {
        name: '预约会议',
        icon: appointmeet
    },
])

const operation = (item) => {
    router.push({
        path: item.path
    })

}


</script>

<style scoped lang="scss">
.meet {
    height: 100%;
    display: flex;
    flex-direction: column;

    .top-nav {
        border-bottom: 1px solid #D4DAE6;
        display: flex;
        justify-content: space-around;
        margin-top: 94px;
        padding: 0px 0px 60px 0px;

        .nav-box {
            display: flex;
            flex-direction: column;
            align-items: center;

            .nav-item {
                // padding: 43px 45px 45px 43px;
                width: 180px;
                height: 180px;
                background: #E6EDFF;
                border-radius: 12px 12px 12px 12px;
                display: flex;
                align-items: center;
                justify-content: center;

                .img {
                    width: 92px;
                    height: 92px;
                }
            }

            .nav-name {
                font-size: 36px;
                margin-top: 30px;
            }
        }


    }

    .bottom {
        flex: 1;
        // border: 1px solid red;
        overflow: auto;
    }
}
</style>
