<template>
    <div class="content">
        <div class="c-box">
            <div class="c-item" v-for="item in 2">
                <img src="@/assets/call/avator.png" class="img">
                <div class="user">
                    <img src="@/assets/call/redmicrophone.png" alt="">
                    <div style="font-size: 28px;margin-left: 14px;">夏小明</div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.content {
    // border: 1px solid green;
    height: 100%;
    padding: 0px 14px;

    .c-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .c-item {
            width: 1238px;
            height: 696px;
            background: #F2F5F9;
            border-radius: 12px 12px 12px 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;

            .img {
                width: 260px;
                height: 260px;
            }
            .user{
                display: flex;
                align-items: center;
                position: absolute;
                left: 20px;
                bottom: 20px;
                background: #FFFFFF;
                padding: 0px 14px;

            }

        }
    }

}
</style>