@font-face {
  font-family: 'fzzchjw';
  src: url('../fonts/FZZCHJW.TTF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansCN-Bold';
  src: url('../fonts/SourceHanSansCN-Bold.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansCN-Medium';
  src: url('../fonts/SourceHanSansCN-Medium_0.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SansCN-Regular';
  src: url('../fonts/SourceHanSansCN-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
