<template>
    <div class="warning">
        <img src="@/assets/dial/warnicon.png" alt="">
        <div style="margin-left: 25px;font-size: 32px;">终端设备不支持小程序呼叫</div>
    </div>
</template>

<style scoped lang="scss">
.warning {
    background: #fefefe;
    padding: 20px 104px 20px 60px;
    display: flex;
    align-items: center;
    border-radius: 12px 12px 12px 12px;
}
</style>