<template>
    <div class="video-modal">
        <img src="@/assets/address/avator.png" class="avator-img">
        <div class="name">aaa</div>
        <div class="message">正在视频呼叫对方...</div>
        <a-button class="button" @click="cancel"> </a-button>
    </div>
</template>
<script setup>
import { SearchOutlined } from '@ant-design/icons-vue';
import { defineProps, onMounted, defineEmits } from 'vue'
import { useRouter } from 'vue-router'
const router = useRouter()
const props = defineProps({
    visible: {
        type: Boolean,
        default: false
    }
})

const emit = defineEmits(['update:visible'])

//挂断
const cancel = () => {
    emit('update:visible', false)
}


// onMounted(() => {
//     setTimeout(() => {
//         router.push({
//             path:'/call'
//         })
//     }, 1000);

// })


</script>

<style scoped lang="scss">
.video-modal {
    width: 930px;
    height: 523px;
    background: #fefefe;
    border-radius: 12px 12px 12px 12px;
    background-image: url('@/assets/address/videobg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 58px 0px 78px 0px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;

    .avator-img {
        width: 134px;
        height: 134px;
    }

    .name {
        font-size: 32px;
        color: #222222;
        margin-top: 34px;
        margin-bottom: 22px;
    }

    .message {
        font-size: 22px;
        color: #626D6F;
        margin-bottom: 65px;
    }

    .button {
        width: 72px;
        height: 72px;
        background-image: url('@/assets/address/redphone.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 12px 12px 12px 12px;
    }

}
</style>