<template>
    <div class="dial">
        <div class="left">
            <div class="message">
                <img src="@/assets/dial/messageicon.png">
                <div class="tip">输入号码（手机号/终端号），即可发起呼叫；手机号同时支持语音、视频、小程序的邀请</div>
            </div>
            <div class="keyboard">
                <keyboard />
            </div>
        </div>
        <div class="right">
            <div class="call-record">通话记录</div>

            <div class="record-list" @scroll="onScroll" ref='scroll'>
                <record-list v-for="item in dataList" :key="item.id" :data="item" />
            </div>

        </div>
    </div>
</template>
<script setup >
import keyboard from './component/keyboard.vue'
import RecordList from './component/RecordList.vue'
import { onMounted, ref } from 'vue'
import { getRecord } from '@/api/dial'
const dataList = ref([])
const page = ref(1)
const pageSize = ref(15)
// const reachBottomDistance = ref(30)
// const flag = ref(true)


let isLoading = ref(false);

const getUserRecord = async () => {
    if (isLoading.value) {
        // 如果已经在加载，则不执行后续操作  
        return;
    }
    isLoading.value = true; // 设置为正在加载 
    const params = {
        cmd: 'callDetail',
        userId: '1775049586151301121',
        page: page.value,
        pageSize: pageSize.value

    }
    const res = await getRecord(params)
    isLoading.value = false;
    page.value = page.value + 1
    dataList.value.push(...res.data.list)
}

// 可视高度 + 滚动距离 >= 实际高度
const onScroll = (e) => {
    //滚动高度
    let scrollTop = e.target.scrollTop
    //实际高度
    let scrollHeight = e.target.scrollHeight
    let offsetHeight = Math.ceil(e.target.getBoundingClientRect().height)
    let currentHeight = scrollTop + offsetHeight
    if (currentHeight >= scrollHeight) {
        console.log('触底了');
        getUserRecord()
    }
}




onMounted(() => {
    getUserRecord()
    // queryList()
})

</script>
<style lang="scss" scoped>
.dial {
    height: 100%;
    display: flex;

    .left {
        width: 50%;
        border-right: 1px solid #D4DAE6;
        padding: 30px 28px 0px 28px;


        .message {
            display: flex;
            padding: 10px 0px 10px 30px;
            align-items: center;
            background: #F5F7FF;

            .tip {
                font-size: 20px;
                color: #000000;
                margin-left: 15px;
                // font-family: 'SansCN-Medium';
            }
        }

        .keyboard {
            margin-top: 68px;
        }
    }

    .right {
        flex: 1;
        // border: 1px solid green;
        padding: 32px 28px 0px 50px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .call-record {
            font-size: 40px;
            color: #222222;
        }

        .record-list {
            margin-top: 44px;
            overflow: auto;
        }
    }
}
</style>