<template>
    <div class="dial">
        <div class="left">
            <div class="message">
                <img src="@/assets/dial/messageicon.png">
                <div class="tip">输入号码（手机号/终端号），即可发起呼叫；手机号同时支持语音、视频、小程序的邀请</div>
            </div>
            <div class="keyboard">
                <keyboard />
            </div>
        </div>
        <div class="right">
            <div class="call-record">通话记录</div>

            <div class="record-list" @scroll="onScroll" ref='scroll'>
                <!-- <record-list v-for="item in list" :key="item.id" :data="item" /> -->
                <record-list v-for="item in list" :key="item.id" :data="item" />
                <div  v-if="loading" class="loading">正在加载中。。。。。</div>
            </div>

        </div>
    </div>
</template>
<script setup >
import keyboard from './component/keyboard.vue'
import RecordList from './component/RecordList.vue'
import { onMounted, ref } from 'vue'
import { getRecord } from '@/api/dial'
import usePageList from '@/hooks/usePageList'

const { loadData, loading, finish, list,  resetLoad } = usePageList(getRecord, {  userId: '1775049586151301121'  })

// 可视高度 + 滚动距离 >= 实际高度
const onScroll = (e) => {
    //滚动高度
    let scrollTop = e.target.scrollTop
    //实际高度
    let scrollHeight = e.target.scrollHeight
    let offsetHeight = Math.ceil(e.target.getBoundingClientRect().height) 
    let currentHeight = scrollTop + offsetHeight
    if (currentHeight >= scrollHeight) {
        console.log('触底了');
        loadData()
    }
}


onMounted(() => {
    loadData()
})

</script>
<style lang="scss" scoped>
.dial {
    height: 100%;
    display: flex;

    .left {
        width: 50%;
        border-right: 1px solid #D4DAE6;
        padding: 30px 28px 0px 28px;


        .message {
            display: flex;
            padding: 10px 0px 10px 30px;
            align-items: center;
            background: #F5F7FF;

            .tip {
                font-size: 20px;
                color: #000000;
                margin-left: 15px;
                // font-family: 'SansCN-Medium';
            }
        }

        .keyboard {
            margin-top: 68px;
        }
    }

    .right {
        flex: 1;
        // border: 1px solid green;
        padding: 32px 28px 0px 50px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        .call-record {
            font-size: 40px;
            color: #222222;
        }

        .record-list {
            margin-top: 44px;
            overflow: auto;
            .loading{
                display: flex;
                justify-content: center;
                font-size: 40px;
            }
        }
    }
}
</style>