<template>
    <div class="card" @click="handleClick(data)" :style="getBg">
        <div class="top">
            <div class="leftinfo">
                <img src="@/assets/address/avator.png">
                <div class="userinfo">
                    <div class="name" v-html="highlightedName"></div>
                    <div class="num" v-html="highlightedphone"></div>
                </div>
            </div>
            <!-- 收藏 -->
            <div @click.stop="collectUser(data.id)" v-if="userCardState == 'show'">
                <img :src="getCollect">
            </div>
            <!-- 选择邀请人 -->
            <div v-else>
                <img :src="getSelect">
            </div>
        </div>
        <div class="bottom">
            <div class="infos">{{ data.orgName }}</div>
        </div>
    </div>
</template>

<script setup lang="ts">
import { ref, defineProps, onMounted, computed, defineExpose, onUnmounted, onActivated, onDeactivated } from 'vue'
import { useStore } from '@/stores/index'
// import { UserModel } from '../modal/user-model'

import { UserModel } from '@/util/user-model'

import { storeToRefs } from 'pinia'
import iscollect from '@/assets/address/iscollect.png'
import collect from '@/assets/address/collect.png'
import unselect from '@/assets/meet/unselect.png'
import selected from '@/assets/meet/selected.png'
import $mitt from '@/util/bus'
const store = useStore()
const { userCardState, hasSelect } = storeToRefs(store)
const props = defineProps({
    data: {
        type: Object,
        default: () => { },
    },
    inputValue: String
})

const tocollect = ref(false)

//人员选中
const selectVisible = ref(false)

const collectUser = () => {
    tocollect.value = !tocollect.value
}
//获取收藏图标
const getCollect = computed(() => {
    return tocollect.value ? iscollect : collect
})


// const idarr = ref([])
//选择人员
const goSelect = (data) => {
    selectVisible.value = !selectVisible.value
    // 查找是否已经存在具有相同id的项  
    const existingItem = hasSelect.value.find(item => item.id === data.id);
    // selectVisible为真，且hasSelect中不存在id与当前点击的id相同
    if (selectVisible.value && !existingItem) {
        hasSelect.value.push({ id: data.id, name: data.name });
    } else if (!selectVisible.value && existingItem) {
        const index = hasSelect.value.indexOf(existingItem);
        if (index !== -1) {
            hasSelect.value.splice(index, 1); // 使用splice移除项  
        }
    }
}

//获取选中图标
const getSelect = computed(() => {
    return selectVisible.value ? selected : unselect
})

//获取背景色
const getBg = computed(() => {
    if (selectVisible.value) {
        return {
            background: 'linear-gradient( 180deg, #E6EEFF 0%, #B8CDF7 100%)'
        }
    } else {
        return {
            background: 'linear-gradient(180deg, #FFFFFF 0%, #F0F4FD 100%)'
        }
    }
})

//名字高亮
const highlightedName = computed(() => {
    if (!props.inputValue) {
        return props.data.name;
    }
    const regex = new RegExp(`(${props.inputValue})`, 'gi');
    return props.data.name.replace(regex, '<span style="color: #3A7DFB;">$1</span>');
})
//电话高亮
const highlightedphone = computed(() => {
    if (!props.inputValue) {
        return props.data.phone;
    }
    const regex = new RegExp(`(${props.inputValue})`, 'gi');
    return props.data.phone.replace(regex, '<span style="color: #3A7DFB;">$1</span>');
})

//打开弹窗还是邀请人员
const handleClick = (data) => {
    if (userCardState.value == 'show') {
        getModal()
    } else {
        goSelect(data)
    }

}

//弹出框
const getModal = () => {
    UserModel.render({
        mask: true,
        data: props.data
    })
}



//点击全选按钮
const selectAll = () => {
    selectVisible.value = true
}
//点击取消全选按钮
const clearAll = () => {
    selectVisible.value = false
}

$mitt.on('send-data', (val: any) => {
    selectVisible.value = val
})


//点击底部删除，对应card的选中效果会清除
$mitt.on('send-id', (val: any) => {
    if (val == props.data.id) {
        selectVisible.value = false
    }
})



defineExpose({
    selectAll,
    clearAll
})
// 组件挂载成功后
onMounted(() => {
    console.log('组件A onMounted')
    // 查找是否已经存在具有相同id的项  
    const existingItem = hasSelect.value.find(item => item.id === props.data.id);
    if (existingItem) {
        selectVisible.value = true
    }



})

</script>

<style scoped lang="scss">
.card {
    // margin-top: 30px;
    margin: 10px;
    padding: 20px;
    width: 595px;
    height: 214px;
    // background: linear-gradient(180deg, #FFFFFF 0%, #F0F4FD 100%);
    border-radius: 12px 12px 12px 12px;
    // border-image: linear-gradient(180deg, rgba(240, 244, 253, 1), rgba(255, 255, 255, 1)) 1 1;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftinfo {
            display: flex;
            align-items: center;

            .userinfo {
                margin-left: 20px;

                .name {
                    font-size: 32px;
                    color: #222222;
                }

                .num {
                    font-size: 24px;
                    color: #666666;
                }

            }

        }
    }

    .bottom {
        height: 56px;
        // border: 1px solid red;
        background: #FFFFFF;
        border-radius: 9px 9px 9px 9px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .infos {
            font-size: 28px;
            color: #6F86B3;
        }
    }
}

.modal {
    position: fixed;
    // display: none;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: #000000;
    // opacity: 0.3;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>