<template>
    <div class="key-board">
        <a-input :bordered="false" placeholder="请输入号码" class="input" v-model:value="inputValue">
            <template #suffix>
                <img src="@/assets/dial/delall.png" @click="delall">
            </template>
        </a-input>
        <div class="number-container">
            <div class="num-item" v-for="item in numberArr" @click="numclick(item)">
                {{ item }}
            </div>
            <div class="call-phone">
                <img src="@/assets/dial/phoneicon.png" @click="gocall">
            </div>
            <div class="call-video">
                <img src="@/assets/dial/videoicon.png" @click="gocallvideo">
            </div>
            <div class="call-app">
                <img src="@/assets/dial/appicon.png" @click="gocallapp">
            </div>


        </div>
    </div>
    <!-- <div class="modal" v-if="visible" @click="close"> -->
    <!-- <app-warn-modal /> -->
    <!-- <video-modal v-model:visible="visible" /> -->

    <!-- </div> -->
</template>
<script setup lang="ts">
import { ref } from 'vue'
import { VideoModalClass } from '@/util/user-model'
import AppWarnModal from '../modal/AppWarnModal.vue'
const numberArr = ref(['1', '2', '3', '4', '5', '6', '7', '8', '9', '*', '0', '#'])
const inputValue = ref('')
const visible = ref(false)
const numclick = (item) => {
    inputValue.value += item
}
const delall = () => {
    if (inputValue.value.length > 0) {
        inputValue.value = inputValue.value.slice(0, -1);
    }

}

const gocall = () => {

}
const gocallapp = () => {
}

const gocallvideo = () => {
    VideoModalClass.render({
        mask: true,
        // data: props.data
    })
}


const close = (e) => {
    if (e.target.className == 'modal') {
        visible.value = false
    }
}

</script>


<style scoped lang="scss">
.key-board {
    padding: 0px 173px 0px 173px;

    .input {
        font-size: 52px;
        border-bottom: 1px solid #D6E0F4;
        height: 84px;
    }

    .number-container {
        margin-top: 57px;
        // border: 1px solid red;
        padding: 0px 100px 0px 100px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        .num-item {
            width: 150px;
            height: 150px;
            background: #E7E9ED;
            border-radius: 50%;
            margin-right: 69px;
            margin-bottom: 30px;
            text-align: center;
            line-height: 150px;
            font-size: 62px;
            color: #222222;
        }

        .call-phone {
            width: 150px;
            height: 150px;
            background: #18DE0B;
            border-radius: 50%;
            margin-right: 69px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .call-video {
            width: 150px;
            height: 150px;
            background: #1596F4;
            border-radius: 50%;
            margin-right: 69px;
            text-align: center;
            line-height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .call-app {
            width: 150px;
            height: 150px;
            background: #F6A811;
            border-radius: 50%;
            margin-right: 69px;
            text-align: center;
            line-height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    // .warning {
    //     background: #fefefe;
    //     padding: 20px 104px 20px 60px;
    //     display: flex;
    //     align-items: center;
    //     border-radius: 12px 12px 12px 12px;
    // }
}

:deep(.ant-input-affix-wrapper > input.ant-input){
    text-align: center;
}






:deep(.ant-input) {
    &::placeholder {
        color: #AAAAAA;
        text-align: center;
    }
}
</style>