<template>
    <div class="recordlist">
        <div class="left">
            <img src="@/assets/dial/avator.png" alt="" class="img">
            <div class="l-info">
                <div class="phonenum">
                    <div class="caller-name" :style="{ color: data.answer == 'y' ? '' : 'red' }">{{ data.caller_name }}
                    </div>
                    <div class="line"></div>
                    <div class="num"> {{ data.caller }}</div>
                </div>
                <div class="datebox">
                    <div>{{ getDate }}</div>
                    <!-- <div>12：13 </div> -->
                </div>
            </div>
        </div>

        <img :src="getPhone" alt="">

    </div>
</template>

<script setup>
import bluephone from '@/assets/dial/bluephone.png'
import redphone from '@/assets/dial/redphone.png'
import { defineProps, computed, onMounted } from 'vue'
import dayjs from 'dayjs'
const props = defineProps({
    data: {
        type: Object,
        default: () => { }
    }
})
const getPhone = computed(() => {
    return props.data.answer == 'y' ? bluephone : redphone
})

const getDate = computed(() => {
    return dayjs(props.data.hangup_time).format('MM月DD日 HH:mm')
})


</script>


<style scoped lang="scss">
.recordlist {
    border-bottom: 1px solid #D4DAE6;
    display: flex;
    justify-content: space-between;
    padding: 20px 28px 18px 0px;
    align-items: center;

    .left {
        display: flex;
        align-items: center;

        .img {
            width: 84px;
            height: 84px;
            margin-right: 15px;
        }

        .l-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .phonenum {
                // font-size: 34px;
                // margin-bottom: 20px;
                display: flex;
                align-items: center;

                .caller-name {
                    font-size: 34px;
                    font-family: 'SansCN-Regular';

                }

                .num {
                    font-size: 24px;
                    color: #657086;
                }
            }

            .datebox {
                display: flex;
                font-size: 24px;
                color: #657086;
            }
        }

    }

    .line {
        background: #657086;
        margin: 0px 22px;
        width: 2px;
        height: 35px;
    }
}
</style>