<template  >
    <div class="footer-wrap">
        <template v-for="(item, index) in list" :key="item.path">
            <!-- <router-link :to="item.path" class="menu-item" :class="{ active: isActive(item) }"> -->
            <div :class="{ active: isActive(item) }" @click="go(item)" v-show="item.isShow!=='0'" class="menu-item">
                <img :src="getIcon(item)">
                <div >{{ item.title }}</div>
            </div>
            <!-- </router-link> -->
        </template>
    </div>
</template>
<script setup>
// import router from '@/router'
import { useRouter,onBeforeRouteUpdate } from 'vue-router'
import { onMounted } from "vue"
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
const store = useStore()
const routers = useRouter()
const { bread } = storeToRefs(store)
const props = defineProps({
    list: {
        type: Array,
        default: () => []
    }
})

const isActive = (item) => {
    return item.path === routers.currentRoute.value.fullPath
}

const getIcon = (item) => {
    return isActive(item) ? item.activeIcon : item.icon
}
const go = (item) => {
    routers.push({
        path: item.path
    })
    bread.value = []
    store.set(item.title);
}


// onBeforeRouteUpdate((to,from)=>{
//     // console.log("哈哈",to.meta.show);
//     console.log(from);
//     // if(to.meta.show=='0'){
//     //     getIcon(from)
//     // }
// })


// onMounted(() => {
//     go(props.list[0])
// })
</script>
<style lang="scss" scoped>
.footer-wrap {
    padding: 30px 294px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    background: #FFFFFF;
    border-radius: 12px 12px 12px 12px;

    .menu-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #777777;
        font-size: 32px;
    }

    .active {
        color: #3A7DFB;
    }

}
</style>