<template>
    <div class="content">
        <div class="c-title">夏小明的视频会议</div>
        <div class="c-window">
            <img src="@/assets/meet/bigavator.png">
        </div>
        <div class="operation">
            <div class="left">
                <div class="o-item">
                    <img src="@/assets/meet/microphone.png">
                    <div class="o-name">麦克风</div>
                </div>
                <div class="o-item">
                    <img src="@/assets/meet/microphone.png">
                    <div class="o-name">摄像头</div>
                </div>
                <div class="o-item">
                    <img src="@/assets/meet/microphone.png">
                    <div class="o-name">扬声器</div>
                </div>
                <div class="o-item" @click="setModal">
                    <img src="@/assets/meet/microphone.png">
                    <div class="o-name">设置</div>
                </div>
            </div>
            <div class="right">
                <a-button type="primary" class="btn"> 开始会议</a-button>
            </div>



        </div>
    </div>
</template> 

<script setup lang="ts">
import { SetModalClass } from '@/util/user-model'
const setModal = () => {
    SetModalClass.render({ 
        mask: true,
    })

}


</script>

<style scoped lang="scss">
.content {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;

    .c-title {
        margin-top: 110px;
        width: 928px;
        padding: 0px 0px 18px 0px;
        border-bottom: 1px solid #6F86B3;
        color: #6F86B3;
        font-size: 52px;
        text-align: center;
        font-family: 'SansCN-Regular';
    }

    .c-window {
        margin-top: 50px;
        width: 1434px;
        height: 806px;
        background: #F2F5F9;
        border-radius: 12px 12px 12px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .operation {
        width: 1434px;
        // border: 1px solid blue;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            display: flex;

            .o-item {
                display: flex;
                background: #F2F5F9;
                padding: 16px 20px 16px 20px;
                margin-right: 25px;
                align-items: center;
                border-radius: 12px 12px 12px 12px;

                .o-name {
                    font-size: 30px;
                    font-family: 'SansCN-Regular';
                }
            }
        }

        .right {
            .btn {
                height: 72px;
                width: 180px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
            }
        }



    }
}
</style>