<template>
    <div class="footer">
        <div class="title">参会者(2人)</div>
        <div class="user-list">
            <div class="u-item" v-for="item in 3">
                <img src="@/assets/meet/del.png" class="del-img">
                <img src="@/assets/meet/avator.png">
                <div class="u-name">夏小明</div>
            </div>
            <div class="invite" @click="goInvite">
                <img src="@/assets/meet/invite.png">
                <div class="i-text">邀请</div>
            </div>
        </div>
    </div>
</template>
<script setup>
import { useRouter } from 'vue-router'
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
const store = useStore()
const { userCardState } = storeToRefs(store)
const router = useRouter()

const goInvite = () => {
    router.push({
        path: '/invite'
    })
    userCardState.value='select'

}

</script>

<style scoped lang="scss">
.footer {
    padding: 15px 25px 36px 40px;
    border-top: 1px solid #D4DAE6;

    .title {
        font-size: 34px;
        // margin-bottom: 30px;
    }

    .user-list {
        // border: 1px solid red;
        display: flex;

        .u-item {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            position: relative;
            padding: 15px;
            margin-right: 45px;

            .del-img {
                position: absolute;
                left: 77px;
                bottom: 115px;
            }

            .u-name {
                font-size: 30px;
                // margin-top: 12px;
                font-family: 'SansCN-Regular';
            }
        }

        .invite {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 15px;

            .i-text {
                font-size: 30px;
                font-family: 'SansCN-Regular';
                // margin-top: 12px;
            }
        }

    }
}
</style>