<template>
    <div class="launch-meet">
        <div class="container">
            <div class="header-item">
                <div class="left">
                    <img src="@/assets/call/backicon.png" @click="goback">
                    <div class="c-title">取消</div>
                </div>
            </div>
            <div class="content-item">
                <content></content>
            </div>
            <!-- <div style="border: 1px solid #D4DAE6;margin-top: 65px;"></div>  -->
            <div class="footer-item">
                <Footer></Footer>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">
import Footer from './Footer.vue'
import Content from './Content.vue'
import { useRouter } from 'vue-router'
const router = useRouter()
const goback = () => {
    router.push({
        path:'/main/meet'
    })
}



</script>

<style scoped lang="scss">
.launch-meet {
    // border: 1px solid red;
    height: 100%;
    padding: 20px;
    display: flex;

    .container {
        background: #FFFFFF;
        flex: 1;
        border-radius: 12px 12px 12px 12px;
        display: flex;
        flex-direction: column;

        .header-item {
            padding: 22px 0px 21px 35px;
            // padding: 0px 0px 0px 35px;
            height: 80px;
            display: flex;
            // border: 1px solid red;
            justify-content: space-between;
            align-items: center;
            background: linear-gradient(90deg, #F7FAFF 18%, #F0EEFA 100%);
            border-radius: 12px 12px 12px 12px;

            .left {
                display: flex;
                align-items: center;

                // justify-content: center;
                .c-title {
                    font-size: 32px;
                    color: #222222;
                    margin-left: 30px;
                    font-family: 'SansCN-Regular';
                }
            }


        }

        .content-item {
            flex: 1;
            // margin-bottom: 20px;
        }
    }

}
</style>