<template>
    <div class="bottom-footer">
        <div class="left">
            <div class="item" v-for="(item, index) in leftbutton" :key="index" @click="leftchange(index)">
                <!-- <img :src="getIcon(item)"> -->
                <img :src="item.currenticon">
                <div class="item-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="middle">
            <div class="item" v-for="item in middlebutton">
                <img :src="item.icon">
                <div class="item-name">{{ item.name }}</div>
            </div>
        </div>
        <div class="right">
            <a-button class="button"></a-button>
        </div>
    </div>
</template>

<script setup >
import { microphone, camera, horn, sharing, record, member, invite, redmicrophone, redcamera, redhorn, redrecord } from '../icon'
import { ref } from 'vue'
const leftbutton = ref([
    {
        name: '麦克风',
        icon: microphone,
        closeicon: redmicrophone,
        currenticon: microphone

    },
    {
        name: '摄像头',
        icon: camera,
        closeicon: redcamera,
        currenticon: camera

    },
    {
        name: '扬声器',
        icon: horn,
        closeicon: redhorn,
        currenticon: horn

    },
])
const middlebutton = ref([
    {
        name: '共享',
        icon: sharing,
    },
    {
        name: '录制',
        icon: record,
        closeicon: redrecord

    },
    {
        name: '成员管理',
        icon: member,
    },
    {
        name: '邀请',
        icon: invite,
    },
])


const leftchange = (index) => {
    leftbutton.value[index].currenticon = leftbutton.value[index].currenticon === leftbutton.value[index].icon ? leftbutton.value[index].closeicon : leftbutton.value[index].icon;
}




</script>


<style scoped lang="scss">
.bottom-footer {
    padding: 0px 60px 30px 41px;
    display: flex;
    align-items: center;
    // justify-content: space-between;

    .left {
        display: flex;
        margin-right: 258px;
    }

    .middle {
        display: flex;
        margin-right: 639px;
    }

    .right {
        .button {
            width: 72px;
            height: 72px;
            background-image: url('@/assets/address/redphone.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-radius: 12px 12px 12px 12px;
        }
    }
}

.item {
    padding: 16px 22px 16px 20px;
    background: #F2F5F9;
    border-radius: 12px 12px 12px 12px;
    margin-right: 25px;
    display: flex;
    align-items: center;

    .item-name {
        font-size: 30px;
        color: #222222;
        margin-left: 13px;

    }

}
</style>