<template>
    <div class="meet-set-modal">
        <div class="top">
            <div class="t-left"></div>
            <div class="title">会议设置</div>
        </div>
        <a-form :model="formState" style="font-size: 30px;">
            <a-form-item label="Username" style="font-size: 30px;">
                <a-input />
            </a-form-item>
        </a-form>
    </div>
</template>

<script setup lang="ts">



</script>

<style scoped lang="scss">
.meet-set-modal {
    width: 1060px;
    height: 609px;
    background: #FFFFFF;
    border-radius: 12px 12px 12px 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    .top {
        display: flex;
        margin-top: 48px;
        margin-left: 40px;
        align-items: center;

        .t-left {
            width: 8px;
            height: 40px;
            background: #3A7DFB;
            border-radius: 0px 0px 0px 0px;
            margin-right: 25px;
        }

        .title {
            font-size: 40px;
            font-family: 'SansCN-Medium';
        }
    }
}
</style>