<template>
    <div class="top-header">
        <div class="left">
            <img src="@/assets/call/backicon.png" @click="goback">
            <div class="c-title">会议消息</div>
        </div>
        <div class="middle">
            <img src="@/assets/call/clock.png">
            <div class="time">2:12:23</div>
        </div>
        <div class="right">
            <img src="@/assets/call/layout.png.png">
            <div class="layout">布局</div>
        </div>
    </div>
</template>
<script setup>
import { defineProps, onMounted } from 'vue'
import { useRouter } from 'vue-router'
const router = useRouter()
const goback = () => {
    router.back()
}


</script>

<style scoped lang="scss">
.top-header {
    padding: 22px 29px 23px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #F7FAFF 18%, #F0EEFA 100%);
    border-radius: 12px 12px 12px 12px;


    .left {
        display: flex;
        align-items: center;
        // justify-content: center;

        .c-title {
            font-size: 32px;
            color: #222222;
            margin-left: 30px;
            font-family: 'SansCN-Bold';
        }
    }

    .middle {
        display: flex;
        align-items: center;

        .time {
            font-size: 32px;
            margin-left: 15px;
            font-family: 'SansCN-Regular';
        }
    }

    .right {
        display: flex;
        align-items: center;

        .layout {
            font-size: 32px;
            color: #222222;
            font-family: 'SansCN-Bold';
            margin-left: 15px;
        }
    }
}
</style>