<template  >
    <div class="main-wrap">
        <div class="header-warp">
            <Header></Header>
        </div>

        <div class="content-wrap">
            <router-view v-slot="{ Component }">
                <keep-alive>
                    <component :is="Component" v-if="route.meta.keepAlive" :key="route.path" />
                </keep-alive>
                <component :is="Component" v-if="!route.meta.keepAlive" :key="route.path" />
            </router-view>
        </div>

        <div class="footer-warp">
            <Footer :list="menuList"></Footer>
        </div>
    </div>
</template>
<script lang="ts" setup>
import { Header, Footer } from './cpns'
import { menuList } from './data'
import { onMounted } from 'vue'
import { useRoute } from 'vue-router'
import { useStore } from '@/stores/index'
const route = useRoute()
const store = useStore()

onMounted(() => {
    // console.log("1111", route);

})
</script>
<style lang="scss" scoped>
.main-wrap {
    height: 100%;
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;

    .header-warp {
        position: fixed;
        z-index: 99;
        width: calc(100% - 40px);
    }

    .content-wrap {
        flex: 1;
        margin-top: 130px;
        margin-bottom: 176px;
        background: #FFFFFF;
        height: 1252px;
        border-radius: 12px 12px 12px 12px;
    }

    .footer-warp {
        position: fixed;
        z-index: 99;
        bottom: 20px;
        width: calc(100% - 40px);
    }
}
</style>