<template>
    <div class="address">
        <div class="left">
            <div class="left-top">
                <div class="infoname">通讯录</div>
                <img src="@/assets/address/search.png" style="width: 36px;height: 36px;" @click="goSearch">
            </div>
            <div class="tree" style="margin-top: 30px;">

                <a-directory-tree :tree-data="treeData" :field-names="{ title: 'name', key: 'id' }" @select="treeSelect">
                    <template #switcherIcon="{ switcherCls }">
                        <down-outlined :class="switcherCls" />
                    </template>
                    <template #icon="{ key, selected }">
                        <!-- <template v-if="key === '0-0'">
                            <img src="@/assets/address/activeicona.png" class="img-icon" v-if="selected">
                            <img src="@/assets/address/icona.png" class="img-icon" v-else>
                        </template>
                        <template v-if="key === '0-1'">
                            <img src="@/assets/address/iconpeoplea.png" class="img-icon" v-if="selected">
                            <img src="@/assets/address/iconpeople.png" class="img-icon" v-else>
                        </template>
                        <template v-if="key === '0-2'">
                            <img src="@/assets/address/iconhousea.png" class="img-icon" v-if="selected">
                            <img src="@/assets/address/iconhouse.png" class="img-icon" v-else>
                        </template> -->

                    </template>
                </a-directory-tree>


            </div>
        </div>

        <div class="right">
            <div class="nav-bread" v-if="userCardState == 'show'">
                <a-breadcrumb separator=">" style="font-size: 32px;">
                    <a-breadcrumb-item v-for="(item, index) in bread" :key="index">{{ item }}</a-breadcrumb-item>
                </a-breadcrumb>
            </div>
            <div class="allSelect" v-else>
                <a-button type="primary" class="btn" @click="selectAll">{{ getSelectName }}</a-button>
                <!-- <a-button type="primary" @click="cancelAll">取消全选</a-button> -->
            </div>
            <div class="card-item" v-if="userList.length > 0">
                <card v-for="item in userList" :key="item.id" :data="item" class="card-target" ref="userCard" />
            </div>
            <div v-else class="no-data">
                <img src="@/assets/address/nomeet.png" alt="">
            </div>
        </div>

    </div>
</template>
<script setup >
import { DownOutlined, } from '@ant-design/icons-vue';
import card from './component/card.vue'
import { onMounted, ref, onActivated, computed } from 'vue'
import axios from 'axios';
import { getTree, getUser } from '@/api/address'
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
import { useRouter } from 'vue-router'
import $mitt from '@/util/bus'
const router = useRouter()
const store = useStore()
const treeData = ref([]);
const userList = ref([])
const { bread, userCardState, hasSelect, visible } = storeToRefs(store)

const fid = ref('')


const getTreeData = async () => {
    const res = await getTree()
    treeData.value = res.data
}
const treeSelect = async (key, node) => {
    // currentTreeCardId.value=[]
    //每次点击树，都显示全选按钮
    isAll.value = false

    await getUserData(key[0])
    if (node.selectedNodes[0].pid == '1') {//当前点击的是父节点
        fid.value = node.selectedNodes[0].id
        // 保留 bread 的第一项，其余项清空
        bread.value = bread.value.slice(0, 1);
        if (!bread.value.includes(node.selectedNodes[0].name)) {
            bread.value.push(node.selectedNodes[0].name)
        }
    } else {//当前点击的不是父节点
        //当前子节点的父id是否与之前点的相同,相同的话继续push
        if (node.selectedNodes[0].pid == fid.value && !bread.value.includes(node.selectedNodes[0].name)) {
            bread.value.push(node.selectedNodes[0].name)
        } else {//如果是其他目录下的子节点
            // 保留 bread 的第一项，其余项清空
            fid.value = node.selectedNodes[0].pid
            bread.value = bread.value.slice(0, 1);
            bread.value.push(node.node.parent.node.name, node.selectedNodes[0].name)
        }
    }


    //点击树时判断显示取消按钮还全选按钮
    if (userList.value.length > 0) {
        const a = hasSelect.value.map((item) => {
            return item.id
        });
        const b = userList.value.map((item) => {
            return item.id
        })

        const setA = new Set(a);
        const isAllInA = b.every(itemId => setA.has(itemId));
        if (isAllInA) {
            isAll.value = true
        } else {
            isAll.value = false
        }
    }
}
const getUserData = async (item) => {
    const res = await getUser({ orgId: item })
    userList.value = res.data

}
const goSearch = () => {
    if (userCardState.value == 'show') {
        router.push({
            path: "/main/search"
        })
    } else {
        router.push({
            path: "/isearch"
        })
    }

}

// const getIntersect = () => {
//     const options = {
//         root: document.querySelector('.card-item'),
//         threshold: 0.1
//     }
//     // 创建实例
//     const observer = new IntersectionObserver((entries) => {
//         console.log(entries);
//         entries.forEach((item) => {
//             if (item.isIntersecting) {
//                 console.log("交叉了");
//             }
//         });

//     }, options)
//     const cardList = document.querySelectorAll('.card-target')
//     cardList.forEach((element) => {
//         console.log("element", element);
//         observer.observe(element)
//     });

// }


const isAll = ref(false)
//判断全选按钮显示
const getSelectName = computed(() => {
    if (userList.value.length > 0) {
        const a = hasSelect.value.map((item) => {
            return item.id
        });
        const b = userList.value.map((item) => {
            return item.id
        })
        const setA = new Set(a);
        const isAllInA = b.every(itemId => setA.has(itemId));
        if (isAllInA) {
            isAll.value = true
        } else {
            isAll.value = false
        }
    } else {
        isAll.value = false
    }

    return isAll.value ? "取消全选" : "全选"
})

const userCard = ref(null)
//全选与取消全选事件
const selectAll = () => {
    isAll.value = !isAll.value
    if (isAll.value) {
        //获取全选用户
        userList.value.forEach((user) => {
            // 使用 some 方法检查 user 的 id 是否在 hasSelect.value 中  
            if (!hasSelect.value.some((item) => item.id === user.id)) {
                // 如果不存在，则添加到 hasSelect.value 中  
                hasSelect.value.push({
                    id: user.id,
                    name: user.name
                });
            }
        });

        // let newArr = [...new Set(hasSelect.value)];
        // hasSelect.value = newArr

        //所有图标为选中
        userCard.value.forEach(item => {
            item.selectAll()
        });

    } else {
        userList.value.forEach((user) => {
            hasSelect.value = hasSelect.value.filter((item) => item.id !== user.id);
        });
        //所有图标为取消选中
        userCard.value.forEach(item => {
            item.clearAll()
        });

    }

}
// //取消全选
// const cancelAll = () => {

// }









// $mitt.on('send-data', (val) => {
//     console.log("哈哈",val);
// })


onMounted(() => {
    getTreeData()
})
</script>
<style lang="scss" scoped>
.address {
    display: flex;
    // border: 1px solid red;
    height: 100%;

    .left {
        width: 575px;
        height: 100%;
        border-right: 1px solid #D4DAE6;
        padding: 32px 28px 28px 28px;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .left-top {
            display: flex;
            justify-content: space-between;
            // margin-top: 32px;

            .infoname {
                font-size: 40px;
                color: #222222;
                font-weight: bold;
            }
        }

        .tree {
            overflow: auto;
            // border: 1px solid red;
        }

    }

    .right {
        flex: 1;
        padding: 36px 25px 25px 25px;
        // border: 1px solid red;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .nav-bread {
            // position: fixed;
            // z-index: 99;
            // margin-top: 36px;
            // border: 1px solid red;
        }

        .allSelect {
            display: flex;
            flex-direction: row-reverse;

            .btn {
                width: 150px;
                height: 65px;
                font-size: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'SansCN-Regular';
                margin-right: 36px;
            }

        }

        .card-item {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-top: 44px;
            // border: 1px solid blue;
            // height: 100%;
            // position: fixed;
            // top: 100px;
            overflow: auto;
        }

        .no-data {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }


    }

}

.img-icon {
    width: 40px;
    height: 40px;
    margin-top: 25px;
}

:deep(.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-node-content-wrapper.ant-tree-node-selected) {
    color: #3A7DFB;
    background-color: #EDF3FF;
    border-radius: 12px 12px 12px 12px;
}


:deep(.ant-tree.ant-tree-directory .ant-tree-treenode-selected::before) {
    background: #EDF3FF;
    border-radius: 12px 12px 12px 12px;
}

:deep(.ant-tree-switcher .ant-tree-switcher-icon svg, .ant-tree-switcher .ant-select-tree-switcher-icon svg) {
    color: gray;
    font-size: 20px;
}

:deep(.ant-tree .ant-tree-node-content-wrapper) {
    line-height: 96px;
    font-size: 32px;
    display: flex;
    // align-items: center;
}

:deep(.ant-tree.ant-tree-directory .ant-tree-treenode .ant-tree-switcher) {
    line-height: 96px;
}

:deep(.ant-tree-title) {
    margin-left: 30px;
}
</style>