<template>
    <div class="dialog-wrap absolute-center">
        <img src="@/assets/address/close.png" class="close" @click="handelClose">
        <slot name="content"></slot>
    </div>
</template>
<script   setup>
import { ref, defineProps, onMounted, defineEmits } from "vue" 

const emit = defineEmits(['closeA'])
const handelClose = () => emit('closeA')

</script>

<style scoped lang="scss">
.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 45px;
    width: 45px;
}
</style>
