<template>
    <div class="call">
        <div class="content">
            <div class="header-item">
                <top-header />
            </div>
            <div class="content-item">
               <content/>
            </div>
            <div class="footer-item">
                <bottom-footer />
            </div>

        </div>
    </div>
</template>
<script setup lang="ts">
import TopHeader from './header/TopHeader.vue'
import BottomFooter from './footer/BottomFooter.vue'
import content from './content/content.vue'

</script>

<style scoped lang="scss">
.call {
    padding: 20px;
    display: flex;
    height: 100%;
    width: 100%;

    .content {
        background: #FFFFFF;
        flex: 1;
        border-radius: 12px 12px 12px 12px;
        display: flex;
        flex-direction: column;

        .content-item {
            flex: 1;
            margin-bottom: 20px;
        }
    }
}
</style>