<template>
    <div class="invite">
        <div class="header-item">
            <div class="left">
                <img src="@/assets/call/backicon.png" @click="goback">
                <div class="c-title" @click="goback">取消</div>
            </div>
        </div>
        <div class="content"> 
        <Search></Search>
        </div>

        <invitefooter/>
        <!-- <div class="footer">
            <div class="left">
                已选({{ hasSelect.length }})
            </div>
            <div class="right">
                <a-button class="btn" @click="clearAll">取消</a-button> 
                <a-button type="primary" class="btn">邀请</a-button>
            </div>
        </div> -->

    </div>
</template>

<script setup lang="ts">
import invitefooter from '@/components/invitefooter/invitefooter.vue'
import Search from '@/views/search/search.vue'
import { useRouter } from 'vue-router'
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
import $mitt from '@/util/bus'
const store = useStore()
const { userCardState, hasSelect, visible } = storeToRefs(store)
const router = useRouter()
const goback = () => {
    router.back()
    // userCardState.value = 'show'
    // hasSelect.value = []
}

//取消
const clearAll = () => {
    // hasSelect.value = []
    // $mitt.emit('send-data', false)
}



</script>

<style scoped lang="scss">
.invite {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header-item {
        padding: 22px 0px 21px 35px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(90deg, #F7FAFF 18%, #F0EEFA 100%);
        border-radius: 12px 12px 12px 12px;

        .left {
            display: flex;
            align-items: center;

            .c-title {
                font-size: 32px;
                color: #222222;
                margin-left: 30px;
                font-family: 'SansCN-Regular';
            }
        }


    }

    // background: red;
    .content {
        overflow: auto;
        flex: 1;
        background: #FFFFFF;
    }

    // .footer {
    //     display: flex;
    //     justify-content: space-between;
    //     height: 130px;
    //     background: #F2F5F9;
    //     align-items: center;
    //     border-radius: 0px 0px 12px 12px;

    //     .left {
    //         font-size: 32px;
    //         font-family: 'SansCN-Medium';
    //         margin-left: 40px;
    //     }

    //     .right {
    //         display: flex;

    //         .btn {
    //             height: 65px;
    //             width: 150px;
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             font-size: 30px;
    //             font-family: 'SansCN-Regular';
    //             margin-right: 30px;
    //         }

    //     }
    // }

}
</style>