<template>
    <div class="card" @click="SelectPeople(data)">
        <div class="top">
            <div class="leftinfo">
                <img src="@/assets/search/avator.png">
                <div class="userinfo">
                    <div class="name" v-html="highlightedName"></div>
                    <div class="num" v-html="highlightedphone"></div>
                </div>
            </div>
            <div @click="collectUser" v-if="userCardState == 'show'">
                <!-- <img src="@/assets/search/iscollect.png" v-if="iscollect">
                <img src="@/assets/search/collect.png" v-else> -->
                <img :src="getCollect">
            </div>
            <!-- 选择邀请人 -->
            <div v-else>
                <img :src="getSelect">
            </div>

        </div>
        <div class="bottom">
            <div class="infos">{{ data.orgName }}</div>
        </div>
    </div>
</template>
<script setup >
import iscollect from '@/assets/address/iscollect.png'
import collect from '@/assets/address/collect.png'
import unselect from '@/assets/meet/unselect.png'
import selected from '@/assets/meet/selected.png'
import { ref, defineProps, computed } from 'vue'
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
const store = useStore()
const { userCardState } = storeToRefs(store)
const props = defineProps({
    data: {
        type: Object,
        default: () => { },
    },
    inputValue: String
})
//人员选中
const selectVisible = ref(false)
const tocollect = ref(false)
const collectUser = () => {
    tocollect.value = !tocollect.value
}

//获取收藏图标
const getCollect = computed(() => {
    return tocollect.value ? iscollect : collect
})

//获取选中图标
const getSelect = computed(() => {
    return selectVisible.value ? selected : unselect
})
//名字高亮
const highlightedName = computed(() => {
    if (!props.inputValue) {
        return props.data.name;
    }
    const regex = new RegExp(`(${props.inputValue})`, 'gi');
    return props.data.name.replace(regex, '<span style="color: #3A7DFB;">$1</span>');
})
//电话高亮
const highlightedphone = computed(() => {
    if (!props.inputValue) {
        return props.data.phone;
    }
    const regex = new RegExp(`(${props.inputValue})`, 'gi');
    return props.data.phone.replace(regex, '<span style="color: #3A7DFB;">$1</span>');
})

const SelectPeople=(data)=>{
    selectVisible.value=!selectVisible.value

 // 查找是否已经存在具有相同id的项  
 const existingItem = hasSelect.value.find(item => item.id === data.id);


}







</script>

<style scoped lang="scss">
.card {
    // margin-top: 30px;
    margin: 10px;
    padding: 20px;
    width: 595px;
    height: 214px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F4FD 100%);
    border-radius: 12px 12px 12px 12px;
    border: 1px solid;
    border-image: linear-gradient(180deg, rgba(240, 244, 253, 1), rgba(255, 255, 255, 1)) 1 1;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .leftinfo {
            display: flex;
            align-items: center;

            .userinfo {
                margin-left: 20px;

                .name {
                    font-size: 32px;
                    color: #222222;
                }

                .num {
                    font-size: 24px;
                    color: #666666;
                }

            }

        }
    }

    .bottom {
        height: 56px;
        // border: 1px solid red;
        background: #FFFFFF;
        border-radius: 9px 9px 9px 9px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        .infos {
            font-size: 28px;
            color: #6F86B3;
        }
    }
}
</style>