<template>
    <div>
        <div class="history-search">
            <div class="top">
                <div style="font-size:40px ;color: #222222;font-weight: bold;">历史搜索</div>
                <!-- <img src="@/assets/search/删除.png" style="width: 35px;height: 35px;"> -->
                <div class="delete-button">
                    <div class="button" style="margin-right: 28px;" @click="delAll">全部删除</div>
                    <div class="button">完成</div>
                </div>
            </div>
        </div>
        <div class="search-tag">
            <div class="tag-container">
                <div v-for="item in historyRecord" class="tag-box">
                    <img src="@/assets/search/del.png" class="tag-img" @click="del(item)">
                    <div class="tag-name" @click="upSearch(item)">{{ item }}</div>
                </div>
            </div>
        </div>
    </div>
</template>


<script setup>
import { ref, defineProps, defineEmits } from 'vue'
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
const props = defineProps({
    // goSearch:{
    //     type:Function
    // },
    inputValue: String
})
const emit = defineEmits(['update:inputValue'])
const store = useStore()
const { historyRecord } = storeToRefs(store)
const del = (item) => {
    const res = historyRecord.value.filter((e) => {
        return e != item
    })
    historyRecord.value = res
}
const delAll = () => {
    historyRecord.value = []
}

const upSearch = (e) => {
    // console.log(props.inputValue);
    emit('update:inputValue',e)
    // console.log(props.inputValue);
}



</script>

<style scoped lang="scss">
.history-search {
    margin-top: 140px;
    display: flex;
    justify-content: center;

    .top {
        width: 1292px;
        // border: 1px solid blue;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .delete-button {
            display: flex;

            .button {
                font-size: 32px;
                color: #3A7DFB;
            }


        }

    }
}

.search-tag {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    // border: 1px solid red;

    .tag-container {
        width: 1295px;
        // border: 1px solid blue;
        display: flex;
        flex-wrap: wrap;

        .tag-box {
            // border: 1px solid blue;
            position: relative;

            .tag-img {
                position: absolute;
                right: 5px;
            }

            .tag-name {
                margin: 15px;
                font-size: 30px;
                padding: 16px 20px 16px 20px;
                // height: 62px;
                // line-height: 62px;
                text-align: center;
                border-radius: 10px 10px 10px 10px;
                background: #EFF2F8;
                color: #6F86B3;
            }
        }

    }




}


:deep(.anticon svg) {
    font-size: 15px;
    position: relative;
    top: -39px;
    right: -21px;
}
</style>