<template>
    <Dialog @closeA="goclose">
        <template #content>
            <div class="user-modal">
                <div class="u-top">
                    <div class="u-info">
                        <div style="display: flex;" class="u-left">
                            <img :src="data?.headImg" class="avator-img">
                            <div class="u-name">{{ data?.name }}</div>
                        </div>
                        <img src="@/assets/address/collect.png" class="collect-img">
                    </div>

                </div>
                <div class="u-bottom">
                    <div class="nav-box">
                        <div class="nav-item" v-for="item in nav">
                            <img :src="item.icon" class="nav-img">
                            <div class="nav-name" @click="operation(item)">{{ item.name }}</div>
                        </div>
                    </div>
                    <div class="u-derail">
                        <div class="d-name">部门</div>
                        <div class="d-message">{{ data?.orgName }}</div>
                    </div>
                    <div class="u-derail">
                        <div class="d-name">手机号</div>
                        <div class="d-message">{{ data?.mobile }}</div>
                    </div>
                    <div class="u-derail">
                        <div class="d-name">备注</div>
                        <div class="d-message">{{ data?.remark }}</div>
                    </div>
                </div>
            </div>
        </template>
    </Dialog>
</template>

<script setup lang="ts">
import phone from '@/assets/address/phone.png'
import video from '@/assets/address/video.png'
import app from '@/assets/address/app.png'
import message from '@/assets/address/message.png'
// import { VideoModalClass } from './user-model'

import { VideoModalClass } from '@/util/user-model'
import { ref, defineProps, onMounted, defineEmits } from "vue"
import Dialog from '@/components/dialog'
const props = defineProps({
    data: {
        type: Object,
        default: () => { }
    },

})
const videoVisible = ref(false)

const nav = ref([
    {
        name: "电话",
        icon: phone
    },
    {
        name: "视频",
        icon: video
    },
    {
        name: "小程序",
        icon: app
    },
    {
        name: "消息",
        icon: message
    },
])
const emit = defineEmits(['close'])
const goclose = () => {
    emit('close')
}

const operation = () => {
    VideoModalClass.render({
        mask: true,
        data: props.data
    })
}



onMounted(() => {

})
</script>

<style scoped lang="scss">
.user-modal {
    width: 650px;
    height: 960px;
    background: #fefefe;
    opacity: 1;
    border-radius: 12px 12px 12px 12px;

    .u-top {
        height: 310px;
        // border: 1px solid red;
        background-image: url('@/assets/address/userbg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 22px 22px 47px 40px;

        .close-img {
            display: flex;
            flex-direction: row-reverse;
        }

        .u-info {
            margin-top: 95px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .u-left {
                display: flex;
                align-items: center;

                .avator-img {
                    width: 102px;
                    height: 102px;
                    margin-right: 16px;
                }

                .u-name {
                    color: #222222;
                    font-size: 52px;
                }
            }

            .collect-img {
                width: 36.52px;
                height: 36.52px;
                margin-right: 21px;
            }

        }

    }

    .u-bottom {
        padding: 56px 40px 0px 40px;

        .nav-box {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            .nav-item {
                // width: 124px;
                // height: 118px;
                // border: 1px solid red;
                background: #EFF2F8;
                border-radius: 10px 10px 10px 10px;
                padding: 16px 0px 16px 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                flex: 1;
                margin-right: 20px;

                .nav-img {
                    width: 36px;
                    height: 36px;
                }

                .nav-name {
                    font-size: 30px;
                    color: #6F86B3;
                    margin-top: 20px;
                }


            }
        }


        .u-derail {
            display: flex;
            height: 110px;
            // border: 1px solid red;
            border-bottom: 1px solid #D4DAE6;
            align-items: center;

            .d-name {
                font-size: 32px;
                color: #6F86B3;
                width: 128px;
            }

            .d-message {
                font-size: 32px;
                color: #222222;
            }

        }



    }

}
</style>