<template >
    <router-view v-slot="{ Component }">
        <keep-alive>
            <component :is="Component" v-if="route.meta.keepAlive" :key="route.path" />
        </keep-alive>
        <component :is="Component" v-if="!route.meta.keepAlive" :key="route.path" />
    </router-view>
</template>

<script setup lang="ts">
import {onMounted} from 'vue'
import { useRoute } from 'vue-router'
const route = useRoute()



</script>
<style lang=""> 
  
</style>