<template>
    <div class="footer">
        <div class="left">
            <div class="yixuan"> 已选({{ hasSelect.length }}) </div>
            <div class="p-box">
                <div class="people" v-for="item in hasSelect" :key="item.id">
                    <div class="name">{{ item.name }}</div>
                    <img src="@/assets/delp.png" class="delimg" @click="delPeople(item)">
                </div>
            </div>

        </div>
        <div class="right">
            <a-button class="btn" @click="clearAll">取消</a-button>
            <a-button type="primary" class="btn">邀请</a-button>
        </div>
    </div>
</template>
<script setup lang="ts">
import { ref, reactive } from "vue"
import { useStore } from '@/stores/index'
import { storeToRefs } from 'pinia'
import $mitt from '@/util/bus'
const store = useStore()
const { hasSelect } = storeToRefs(store)


const delPeople = (data) => {
    const existingItem = hasSelect.value.find(item => item.id === data.id);
    const index = hasSelect.value.indexOf(existingItem);
    if (index !== -1) {
        hasSelect.value.splice(index, 1); // 使用splice移除项  
    }
    $mitt.emit('send-id', data.id)
}


//取消
const clearAll = () => {
    hasSelect.value = []
    $mitt.emit('send-data', false)
}
</script>
<style lang="scss" scoped>
.footer {
    height: 130px;
    display: flex;
    justify-content: space-between;
    background: #F2F5F9;
    align-items: center;
    border-radius: 0px 0px 12px 12px;

    .left {
        margin-left: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1;
        // border: 1px solid red;
        overflow: auto;



        white-space: nowrap; //外部盒子关闭换行（white-space: nowrap）如果不开启，超出当前行时会自动展示到下一行

        .yixuan {
            font-size: 32px;
            font-family: 'SansCN-Medium';
            margin-right: 30px;
        }

        .p-box {
            // display: inline-block;
            display: flex;
            overflow: auto;
            &::-webkit-scrollbar {
            display: none;
        }

            .people {
                // border: 1px solid green;
                display: flex;
                align-items: center;
                margin-right: 30px;
                padding: 16px;
                background: #FFFFFF;
                border-radius: 6px 6px 6px 6px;

                .name {
                    font-size: 32px;
                    font-family: 'SansCN-Regular';
                    margin-right: 22px;
                }

                .delimg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }

    .right {
        display: flex;
        margin-left: 20px;

        .btn {
            height: 65px;
            width: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-family: 'SansCN-Regular';
            margin-right: 30px;
        }

    }
}
</style>
