<template>
    <div class="search">
        <div class="top-input">
            <a-input type="text" :bordered="false" class="input" placeholder="搜索" v-model:value="inputValue"
                @change="goSearch(inputValue)">
                <template #prefix>
                    <img src="@/assets/search/search.png">
                </template>
            </a-input>
            <div style="font-size: 32px;color: #3A7DFB;" @click="cancel">取消</div>
        </div>

        <history v-if="inputValue === ''" v-model:inputValue="inputValue" />

        <div v-else class="card-item">
            <card v-for="item in searchResult" :key="item.id" :data="item" :inputValue="inputValue" />
        </div>

    </div>
</template>
<script setup lang="ts">
import { UserOutlined, InfoCircleOutlined } from '@ant-design/icons-vue';
import history from './component/history.vue'
// import card from './component/card.vue'
import card from '@/views/address/component/card.vue'
import { useRouter } from 'vue-router';
import { ref, onMounted, watch } from 'vue'
import { getUser } from '@/api/address'
import { useStore } from '@/stores/index'
import _ from 'lodash'
// import { storeToRefs } from 'pinia'
const store = useStore()
// const { historyRecord } = storeToRefs(store)
const router = useRouter()
const inputValue = ref('')
const searchResult = ref([])
// // 防抖函数
// const debounce = (func, wait) => {
//     let timeout;
//     return function (...args) {
//         // 如果之前的计时器存在，清除它
//         if (timeout) {
//             clearTimeout(timeout);
//         }
//         // 设置新的计时器
//         timeout = setTimeout(() => {
//             func(...args);
//         }, wait);
//     };
// };
// // 创建防抖处理函数
// const handleinput = (e) => {
//     console.log(e);
//     // if (e.target.value == '') return
//     if (e == '') return
//     getUserList(e)
// };
// const goSearch = debounce(handleinput, 600);

const goSearch = _.debounce((e) => {
    if (e === '') {
        searchResult.value = []
        return
    }
    getUserList(e)
}, 600)

const getUserList = async (item) => {
    const res = await getUser({ queryInfo: item })
    searchResult.value = res.data
    store.setRecord(item)
}
const cancel = () => {
    router.back()
}
watch(inputValue, (newVal, oldVal) => {
    if (newVal) {
        goSearch(newVal)
    }
})
onMounted(() => {
})


</script>
<style scoped lang="scss">
.search {
    padding: 30px;
    // border: 1px solid red;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;

    .top-input {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input {
            border-radius: 12px 12px 12px 12px;
            background: #F0F4FD;
            flex: 1;
            margin-right: 20px;
            font-size: 30px;
        }
    }

    .card-item {
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        margin-top: 40px;
    }
}

:deep(.ant-input) {
    background-color: #F0F4FD;
    height: 84px;
    // font-size:60px; 

    // color: #4091FF;
    &::placeholder {
        color: #4091FF;
    }
}

:deep(.ant-input-prefix) {
    margin-left: 28px;
    margin-right: 20px;
}
</style>