<template>
    <div class="MeetRecord">
        <div>
            <div class="data-name">今天3月4日</div>
            <div class="meet-list" v-for="item in 8">
                <div class="left">
                    <div class="r-top">
                        <div class="meet-name">中央大街社区街道的会议</div>
                        <div class="state">待开始</div>
                    </div>
                    <div class="r-bottom">
                        <div class="time">18:30 - 20:30</div>
                        <div class="time">32111222111</div>
                    </div>
                </div>
                <div class="right">
                    <a-button type="primary" class="button">加入会议</a-button>
                    <a-dropdown placement="bottomRight">
                        <img src="@/assets/meet/moreicon.png" alt="">
                        <template #overlay>
                            <div class="dropdown">
                                <div class="edit">修改会议信息</div>
                                <div class="cancel">取消会议</div>
                            </div>
                        </template>
                    </a-dropdown>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.MeetRecord {
    padding: 38px 53px 0px 50px;
    // border: 1px solid blue;

    .data-name {
        font-size: 36px;
        margin-bottom: 38px;
    }

    .meet-list {
        display: flex;
        border-bottom: 1px solid #D4DAE6;
        padding: 24px 0px 18px 0px;
        justify-content: space-between;
        align-items: cen;

        .left {
            .r-top {
                display: flex;
                align-items: center;

                .meet-name {
                    font-size: 34px;
                    margin-right: 25px;

                }

                .state {
                    font-size: 24px;
                    color: #FF9900;
                    padding: 7px 20px;
                    background: rgba(255, 153, 0, 0.15);
                    border-radius: 4px 4px 4px 4px;
                }
            }

            .r-bottom {
                display: flex;
                margin-top: 20px;

                .time {
                    font-size: 24px;
                    color: #657086;
                    margin-right: 40px;
                }
            }
        }

        .right {
            display: flex;
            align-items: center;

            .button {
                height: 65px;
                display: flex;
                align-items: center;
                font-size: 30px;
                margin-right: 40px;
            }
        }
    }


}


.dropdown {
    background: #FFFFFF;
    // border: 1px solid red;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    border-radius: 12px 12px 12px 12px;
    width: 246px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;

    // justify-content: center;
    .edit {
        font-size: 30px;
        // color: red;
        width: 100%;
        border-bottom: 1px solid #F5F5F5;
        height: 50%;
        text-align: center;
        line-height: 70px;
    }

    .cancel {
        height: 50%;
        width: 100%;
        font-size: 30px;
        // border: 1px solid blue;
        text-align: center;
        line-height: 70px;
    }
}
</style>