<template>
    <div class="none-card">
        <img src="@/assets/meet/nomeet.png">
        <div class="name">今日无会议</div>
    </div>
</template>


<style scoped lang="scss">
.none-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .name {
        font-size: 32px;
        color: #B3C4E5;
    }
}
</style>